/* .bg_img {
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/71/Vue_du_Cap_trinit%C3%A9_pr%C3%A8s_de_la_Statue.jpg");
  height: 100vh;
  background-size: cover;
  overflow: hidden;
} */
