*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 50px 0; */
  /* background-color: #fcfcfc; */
  /* min-height: 100vh; */
  /* font-size: 16px; */
  /* line-height: 1.4; */
  /* font-family: "Montserrat", sans-serif; */
  /* color: #372717; */
  /* box-sizing: border-box; */
  /* overflow-y: scroll; */
}
.accordion {
  width: 100%;
  max-width: 470px;
  transform: translateX(4rem);
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 600px) {
  .accordion {
    flex-direction: column;
  }
}

.panel {
  /* background-color: #3763ef; */
  border-radius: 8px;
}
.panel__label {
  position: relative;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 25px 60px 25px 25px;
  font-weight: 700;
  font-size: 14px;
  font-family: inherit;
  transition: color 0.2s linear;
  cursor: pointer;
  color: #ffffff;
}
.panel__label:focus {
  outline: none;
}
.panel__label:after,
.panel__label:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  width: 22px;
  height: 2px;
  margin-top: -2px;
  /* background-color: #ffffff; */
  transform: translateX(-31rem);
  visibility: hidden;
}
.panel__label:before {
  /* transform: rotate(-90deg);
  transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1); */
  /* transform: translateX(-31rem); */
  visibility: hidden;
  content: url(https://i.imgur.com/FmjmyqE.png);
}
.panel[aria-expanded="true"] {
  background-color: #3763ef;
}
.panel[aria-expanded="false"]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.panel[aria-expanded="true"] .panel__content {
  opacity: 1;
}
.panel[aria-expanded="true"] .panel__label {
  color: #ffffff;
}
.panel[aria-expanded="true"] .panel__label:before {
  /* transform: rotate(0deg); */
  transform: translateX(-35rem);
  visibility: visible;
}
.panel__inner {
  overflow: hidden;
  will-change: height;
  transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.panel__content {
  margin: 5px 25px 25px;
  font-size: 14px;
  color: #d1d1d1;
  transition: opacity 0.3s linear 0.18s;
  font-weight: 400;
}
.panel:not(:last-child) {
  margin-bottom: 3px;
}
